/**** Importation de la police "Lato "****/

@import url('https://fonts.googleapis.com/css?family=Lato');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fffffe;
    color: #0c67ae;
    font-family: "Lato", sans-serif;
}

/**** body , main, section ****/

body,
.main__content,
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** header, footer ****/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

/**** header ****/

.main__title {
    font-size: 30px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

header i {
    padding-left: 8px;
    font-size: 24px;
    color: #0c67ae;
}

/**** main ****/

.main__content {
    flex-grow: 1;
    width: 100%;
}

/**** section game ****/

.game {
    margin-block: 20px;
}

.logo {
    width: 400px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game__area {
    width: 374px;
    height: 374px;
    border: 10px solid #0c67ae;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    margin-block: 30px;
}

.game__area img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}

.title {
    text-align: center;
    font-size: 26px;
    line-height: 1.7;
    width: 380px;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
}

/**** footer ****/

.copyright {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

footer i {
    font-size: 16px;
    padding-left: 8px;
}